<table width="700" bgcolor="#4d9edf">
  <tr>
    <td><table width="698" bgcolor="#FFFFFF">
      <tr>
        <td> <table width="696" bgcolor="#4d9edf" style="color:#FFFFFF;">
        <tr>
          <td><table width="680" align="center"><tr>
              <td width="530">Hello <strong>$name,</strong><br /><br />
                This message is sent to you from the  Bharatbuysell password generation system.<br /></td>
              <td width="152" valign="top"><img src="http://bharatbuysell.com/bbsimages/EmailLogo.gif" width="146" height="76" alt="Bharatbuysell" /></td></tr></table></td>
            </tr>
        <tr>
          <td>
          <table align="center" width="680" style="padding-left:10px"><tr><td width="80"><strong>Login</strong></td><td width="10"><strong>:</strong></td><td>$usName</td></tr>
          <tr><td width="80"><strong>Password</strong></td><td width="10"><strong>:</strong></td><td>$pwd</td></tr></table>
         </td>
        </tr>
        <tr>
          <td>
          <table align="center" width="680" ><tr><td height="59">Warm Regards,<br />
              Bharatbuysell Team.<br />
              e-mail: <a href="mailto:admin@bharatbuysell.com" style="color:#000000;text-decoration:underline;">admin@bharatbuysell.com</a></td></tr></table>
              </td>
          </tr>
    </table></td>
      </tr>
    </table>
     </td>
  </tr>
</table>