<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>CityFilter</filter-name>
        <filter-class>com.buysell.servlets.CityFilter</filter-class>
        <init-param>
            <param-name>citiUrl</param-name>
            <param-value>tile1.do?start=0&amp;range=10&amp;byO=1</param-value>
        </init-param>
        <init-param>
            
            <param-name>MLNPU</param-name>
            <param-value>/postAdMy.do|/postAd.do|/my_ads_details.do</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>CityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
	<listener-class>com.buysell.servlets.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>com.buysell.servlets.MyControllerServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>



    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.buysell.servlets.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatesServlet</servlet-name>
        <servlet-class>com.buysell.servlets.GetStatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheck</servlet-name>
        <servlet-class>com.buysell.servlets.UserCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveSearch</servlet-name>
        <servlet-class>com.buysell.servlets.SaveSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggest</servlet-name>
        <servlet-class>com.buysell.servlets.Suggest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JqueryServlet</servlet-name>
        <servlet-class>com.buysell.servlets.JqueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServer</servlet-name>
        <servlet-class>com.buysell.siteAdds.AddServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitiSelectorServlet</servlet-name>
        <servlet-class>com.buysell.servlets.CitiSelectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSelectedImageServlet</servlet-name>
        <servlet-class>com.buysell.servlets.LoadSelectedImageServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>ChangeVerificationCodeServlet</servlet-name>
        <servlet-class>com.buysell.servlets.ChangeVerificationCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToFriendServlet</servlet-name>
        <servlet-class>com.buysell.servlets.SendToFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>com.buysell.servlets.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickRegServlet</servlet-name>
        <servlet-class>com.buysell.servlets.QuickRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>com.buysell.servlets.RefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilAjaxServlet</servlet-name>
        <servlet-class>com.buysell.servlets.UtilAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>com.buysell.servlets.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealerIRRServlet</servlet-name>
        <servlet-class>com.buysell.servlets.DealerIRRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WsCatServlet</servlet-name>
        <servlet-class>com.buysell.webshop.servlets.WsCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidServlet</servlet-name>
        <servlet-class>com.buysell.bids.BidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidRefreshServlet</servlet-name>
        <servlet-class>com.buysell.bids.BidRefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SitemapServlet</servlet-name>
        <servlet-class>com.buysell.servlets.SitemapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JspProviderServlet</servlet-name>
        <servlet-class>com.buysell.servlets.JspProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLeadServlet</servlet-name>
        <servlet-class>com.buysell.servlets.UserLeadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackPop</servlet-name>
        <servlet-class>com.buysell.servlets.FeedbackPop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitiSelectorServlet</servlet-name>
        <url-pattern>/ccs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageGenerator</servlet-name>
        <servlet-class>com.buysell.servlets.RandomImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageGenerator</servlet-name>
        <url-pattern>/rig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegCodeCheck</servlet-name>
        <servlet-class>com.buysell.servlets.RegCodeValidation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegCodeCheck</servlet-name>
        <url-pattern>/rcv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InlineRequestResolveServlet</servlet-name>
        <servlet-class>com.buysell.servlets.InlineRequestResolveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InlineRequestResolveServlet</servlet-name>
        <url-pattern>/irrs</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
         <servlet-name>WsCatServlet</servlet-name>
         <url-pattern>/wss</url-pattern>
     </servlet-mapping>



    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>com.buysell.servlets.ImageRender</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/resourceGetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.buysell.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/t</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetStatesServlet</servlet-name>
        <url-pattern>/gss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheck</servlet-name>
        <url-pattern>/vuid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveSearch</servlet-name>
        <url-pattern>/saveSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggest</servlet-name>
        <url-pattern>/sugg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqueryServlet</servlet-name>
        <url-pattern>/js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddServer</servlet-name>
        <url-pattern>/siteAds</url-pattern>
        <load-on-startup>1</load-on-startup>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoadSelectedImageServlet</servlet-name>
        <url-pattern>/loadSelectedImage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChangeVerificationCodeServlet</servlet-name>
        <url-pattern>/cvc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToFriendServlet</servlet-name>
        <url-pattern>/stf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/fps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickRegServlet</servlet-name>
        <url-pattern>/qrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/rs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilAjaxServlet</servlet-name>
        <url-pattern>/uas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/bs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealerIRRServlet</servlet-name>
        <url-pattern>/irrsdl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidServlet</servlet-name>
        <url-pattern>/bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidRefreshServlet</servlet-name>
        <url-pattern>/bidref</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitemapServlet</servlet-name>
        <url-pattern>/sm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspProviderServlet</servlet-name>
        <url-pattern>/jps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLeadServlet</servlet-name>
        <url-pattern>/uls</url-pattern>
    </servlet-mapping>
    <error-page>
   	<error-code>404</error-code>
   	<location>/WEB-INF/jsp/error404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>FeedbackPop</servlet-name>
        <url-pattern>/FP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
       <!-- <resource-env-ref>
  <description>Content Repository</description>
  <resource-env-ref-name>jcr/repository</resource-env-ref-name>
  <resource-env-ref-type>javax.jcr.Repository</resource-env-ref-type>
</resource-env-ref>-->


</web-app>
