
#accordion2 {width:633px;float:left;position:relative; margin-top:2px; }
.accordion2 {width:127px; font:12px Arial, Helvetica, sans-serif; color:#333;  margin-top:3px;  }
.accordion2 dt {width:140px;cursor:pointer; background-color:#ededed; background-image:url(images/arrow_down.jpg); background-position:right center; background-repeat:no-repeat; color:#fff; font-weight:bold; margin-left:210px; padding-right:15px;}
.accordion2 dt span{width:127px; margin-left:10px; color:#2069bb; font-size:12px; text-transform:uppercase;}
.accordion2 dt:hover { color:#FF9900;}
.accordion2 dt.open {background-image:url(images/arrow_up.jpg);}
.accordion2 dd {overflow:hidden; /*background:#e8e8e8;*/ margin-left:-254px; width:633px;}
.accordion2 div {display:block; width:auto; border-top:none;}
#txt_part{
	width:630px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:10px;
	/*margin-left:10px;*/
	margin-bottom:10px;
}


#accordion3 {width:692px;float:left; position:relative; }
.accordion3 {width:692px; font:12px Arial, Helvetica, sans-serif; color:#333;  }
.accordion3 dt {width:692px;cursor:pointer; color:#fff; font-weight:bold;}
.accordion3 dt span{width:692px; color:#2069bb; font-size:12px; text-transform:uppercase;}
.accordion3 dt:hover { color:#FF9900;}
.accordion3 dt.open {}
.accordion3 dd {overflow:hidden; /*background:#e8e8e8;*/ width:692px; float:left;}
.accordion3 div {display:block; border-top:none;}
#txt_part1{
	width:692px;
	height:auto;
	float:left;
}
